<!DOCTYPE HTML>
	<html lang="en">

		<head>
			<meta charset="utf-8"/>
			<title> Form to add content to our community </title>
		</head>

		<body>

			<h1>Add New</h1>
			<br/>

			<form action="news/save" method="post">
				<label>Title</label>
				<input type="text" id="title" name="title" placeholder="News's Title"/>
				<br/>
				<label>Novel</label>
				<textarea id="new" name="new" rows="5" cols="30"></textarea>
				<input type="submit" value="Submit"/>
			</form>

		</body>
	</html>